Package: ebalistyka
Version: VERSION_PLACEHOLDER
Architecture: ARCH_PLACEHOLDER
Maintainer: o-murphy <thehelixpg@gmail.com>
Installed-Size: INSTALLED_SIZE_PLACEHOLDER
Depends: libgtk-3-0 (>= 3.10), libglib2.0-0 (>= 2.40), libc6 (>= 2.17), libstdc++6 (>= 5.2)
Section: utils
Priority: optional
Homepage: https://github.com/o-murphy/ebalistyka
Description: Ballistic trajectory calculator
 A cross-platform ballistic trajectory calculator built with Flutter.
 Powered by bclibc — a high-performance C++ ballistic solver engine
 with RK4/Euler integration and spin drift support.
